.navegacion {
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 50px;
  padding: 15px;
  font-size: 20px;
}
a {
  margin: 15px;
  text-decoration: none;
}
button {
  background-color: aliceblue;
  border-radius: 10px;
  height: 30px;
  font-size: 20px;
}
