body {
  background-color: rgb(68, 67, 64);
}

.tarjetas-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 100px 15px 50px 15px;
}
.tarjeta-container {
  display: flex;
  flex-wrap: wrap;
  border-radius: 1rem;
  margin: 15px;
  background-color: azure;
  min-width: 650px;
}
.info-container {
  margin-left: 15px;
  margin-bottom: 15px;
  margin-right: 10px;
  min-width: 300px;
  max-width: 325px;
  min-height: 300px;
  max-height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
}
.div-nombre {
  display: flex;
  align-items: center;
  height: 30px;
  margin: 7px;
}
.div-last-now {
  height: 20px;
}
.div-location-name {
  height: 15px;
  margin: 7px;
}
.div-genero {
  height: 20px;
  margin: 7px;
}
h2,
p,
h3 {
  height: 14px;
}
img {
  border-radius: 1rem 0 0 1rem;
}
.punto-container {
  margin: 7px;
  display: flex;
  height: 20px;
  align-items: center;
}
.boton-filtrar {
  display: flex;
  justify-content: space-evenly;
}

.verde {
  margin: 10px;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background-color: green;
  border: 1px solid black;
}
.rojo {
  margin: 10px;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background-color: red;
  border: 1px solid black;
}
.negro {
  margin: 10px;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background-color: black;
  border: 1px solid black;
}
.botones-filtro {
  width: 100%;
}
.clickTodos {
  background-color: rgb(210, 207, 16);
  width: 50px;
}
.clickMale {
  background-color: rgb(210, 207, 16);
  width: 50px;
}
.clickFemale {
  background-color: rgb(210, 207, 16);
  width: 50px;
}
button {
  cursor: pointer;
}
.isActive {
  background-color: rgb(44, 105, 229);
}
.paginacion-contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}
