body {
  background-color: bisque;
}
.tarjetas-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 100px 15px 50px 15px;
}
.tarjeta-container {
  display: flex;
  flex-wrap: wrap;
  border-radius: 1rem;
  margin: 15px;
  background-color: azure;
  min-width: 650px;
}
.info-container {
  margin-left: 30px;
  min-width: 300px;
}
img {
  border-radius: 1rem 0 0 1rem;
}
.punto-container {
  display: flex;

  align-items: center;
}
.boton-filtrar {
  display: flex;
  justify-content: space-evenly;
}

.verde {
  margin: 10px;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background-color: green;
  border: 1px solid black;
}
.rojo {
  margin: 10px;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background-color: red;
  border: 1px solid black;
}
.negro {
  margin: 10px;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background-color: black;
  border: 1px solid black;
}
.botones-filtro {
  width: 100%;
}
.clickTodos {
  background-color: rgb(210, 207, 16);
  width: 50px;
}
.clickMale {
  background-color: rgb(210, 207, 16);
  width: 50px;
}
.clickFemale {
  background-color: rgb(210, 207, 16);
  width: 50px;
}
button {
  cursor: pointer;
}
